@charset "UTF-8";
@font-face {
  font-family: 'Adelle Sans';
  src: url("../fonts/adellesans-regular-webfont.woff2") format("woff2"), url("../fonts/adellesans-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Adelle Sans';
  src: url("../fonts/adellesans-bold-webfont.woff2") format("woff2"), url("../fonts/adellesans-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Adelle Sans';
  src: url("../fonts/adellesans-italic-webfont.woff2") format("woff2"), url("../fonts/adellesans-italic-webfont.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/gilroy-bold-webfont.woff2") format("woff2"), url("../fonts/gilroy-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: fallback;
}

/** Black/Heavy **/

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/gilroy-black-webfont.woff2") format("woff2"), url("../fonts/gilroy-black-webfont.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: fallback;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  color: #333333;
  font-family: "Adelle Sans", "Droid Sans", -apple-system, "Helvetica Neue", "Segoe UI", "Arial", sans-serif;
  font-weight: normal;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  /* Prevent adjustments of font size after orientation changes in iOS */
}

body {
  font-size: 1rem;
  line-height: 1.625;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

article, aside, footer, header, nav, section, figcaption, figure, main {
  display: block;
}

audio, canvas, iframe, img, svg, video {
  vertical-align: middle;
}

a {
  color: #006FF5;
  text-decoration: none;
  border-bottom: #EA215A 0.125rem solid;
  font-family: "Gilroy", "Avenir", "Century Gothic", -apple-system, "Helvetica Neue", "Segoe UI", "Roboto", sans-serif;
  font-weight: 700;
}

p {
  margin-top: 0;
}

ul {
  padding: 0;
}

a:active, a:hover, a:focus {
  color: #EA215A;
}

blockquote {
  margin: 0;
}

img {
  max-width: 100%;
  border-style: none;
  /*Remove the border on images inside links in IE 10-.*/
}

button {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

[hidden] {
  display: none;
}

@media screen and (min-width: 50em) {
  body {
    font-size: 1.125rem;
    line-height: 1.77778;
  }
}

/** Old fluid calc-based 'impact' header font styles. Useful stuff. Maybe used later. */

.Prose {
  -webkit-font-smoothing: antialiased;
  color: #505050;
}

.Prose h1, .Prose h2, .Prose h3, .Prose h4, .Prose h5, .Prose h6 {
  font-family: "Gilroy", "Avenir", "Century Gothic", -apple-system, "Helvetica Neue", "Segoe UI", "Roboto", sans-serif;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  color: #333333;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.Prose h1 {
  font-size: 2.1875rem;
  line-height: 1.14286;
  letter-spacing: -0.03125rem;
}

.Prose h2 {
  font-size: 2.1875rem;
  line-height: 1.14286;
  letter-spacing: -0.03125rem;
}

.Prose h3 {
  font-size: 1.75rem;
  line-height: 1.17857;
  letter-spacing: -0.025rem;
}

.Prose h4 {
  font-size: 1.375rem;
  line-height: 1.22727;
  letter-spacing: -0.01875rem;
}

.Prose h5 {
  font-size: 1.125rem;
  line-height: 1.5;
  letter-spacing: -0.01875rem;
}

.Prose h6 {
  font-size: 1rem;
  line-height: 1.6875;
  letter-spacing: -0.01875rem;
}

.Prose h1>a {
  line-height: 1.34286;
}

.Prose h2>a {
  line-height: 1.34286;
}

.Prose h3>a {
  line-height: 1.37857;
}

.Prose h4>a {
  line-height: 1.37857;
}

.Prose p {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.Prose ol, .Prose ul {
  padding-left: 2rem;
}

.Prose li {
  margin: 0;
}

.Prose dd {
  margin-left: 0;
  padding-left: 2rem;
}

.Prose abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

.Prose mark {
  background-color: #ff0;
  color: #000;
}

.Prose table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 0.875rem;
  line-height: 1.71429;
  width: 100%;
}

.Prose th {
  background: #dce0d9;
  font-weight: 400;
  padding: 0.5rem;
  text-align: left;
}

.Prose td {
  border-bottom: 1px solid #dce0d9;
  padding: 0.5rem;
}

.Prose sub, .Prose sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

.Prose sub {
  bottom: -0.25em;
}

.Prose sup {
  top: -0.5em;
}

.Prose code {
  font-family: 'Monaco', 'Consolas', 'Menlo', monospace;
  font-size: 0.75rem;
}

@media screen and (min-width: 31.25em) {
  .Prose h1 {
    font-size: 2.6875rem;
    line-height: 1.16279;
    letter-spacing: -0.02875rem;
  }
  .Prose h2 {
    font-size: 2.6875rem;
    line-height: 1.16279;
    letter-spacing: -0.02875rem;
  }
  .Prose h3 {
    font-size: 2.1875rem;
    line-height: 1.14286;
    letter-spacing: -0.03125rem;
  }
  .Prose h4 {
    font-size: 1.75rem;
    line-height: 1.17857;
    letter-spacing: -0.025rem;
  }
  .Prose h5 {
    font-size: 1.375rem;
    line-height: 1.22727;
    letter-spacing: -0.01875rem;
  }
  .Prose h6 {
    font-size: 1.125rem;
    line-height: 1.5;
    letter-spacing: -0.01875rem;
  }
}

.Background {
  background-color: #FFFFFF;
}

.Background--carribean-green {
  background-color: #00D494;
  color: #FFFFFF;
}

.Background--carribean-green a {
  color: #FFFFFF;
}

.Lead {

  line-height: 1.55556;
  padding: 1.25rem 1.5rem 1rem 1.5rem;
}

.Lead--wrapper {
  color: #333333;
  background-color: #FFFFFF;
  border: 0.0625rem solid #E2EBF1;
}

.Lead--wrapper a {
  color: #006FF5;
}

.Lead--wrapper a:hover, .Lead--wrapper a:focus, .Lead--wrapper a:active {
  color: #EA215A;
}

@media screen and (min-width: 32.5em) {
  .Lead {
    line-height: 1.7;
  }
  .Lead--wrapper {
    padding: 1.5rem 2rem 1.5rem 2rem;
    margin-bottom: 0.5rem;
  }
  .Lead-content {
    width: 95%;
  }
}

@media screen and (min-width: 61.5625em) {
  .Lead--wrapper {
    padding: 1.5rem 4rem 1.5rem 4rem;
  }
  .Lead {
    font-size: 1rem;
    line-height: 1.56522;
  }
}

.Logo {
  border-bottom: none;
  display: inline-block;
}

@media only screen and (max-width: 21.25em) {
  .Logo svg {
    width: 8.125rem;
  }
}

.Container {
  padding: 1.5rem;
}

.Container--constrained {
  margin: auto;
  max-width: 71.25rem;
}

@supports (position:sticky) {
  .Prose h2[id] {
    padding-top: 3rem;
  }
  @media only screen and (min-width: 18em) {
    .Prose h2[id] {
      padding-top: 1rem;
    }
  }
}

.vui-Article {
  max-width: 53.25rem;
  margin: 0 auto 2rem auto;
  padding: 1rem;
}

@media only screen and (min-width: 40em) {
  .vui-Article {
    position: relative;
    padding: 1.5rem;
  }
}

.vui-Article--dots {
  background-image: url(https://clearleft-v5.s3.amazonaws.com/dots/texture_dots-circle-green.png);
  background-repeat: no-repeat;
  background-position: 50% -270px;
  background-size: 580px;
}

.u-align {
  flex-flow: column;
  align-items: center;
  max-width: 65em;
  overflow: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5rem;
}

@media only screen and (min-width: 20em) {
  .u-align {
    padding: 1rem 1rem;
    display: flex;
    overflow: visible;
  }
}

@media only screen and (min-width: 45em) {
  .u-align {
    padding: 1.5rem 1rem;
  }
}

.u-sticky {
  position: sticky;
  top: -1px;
  width: 100%;
  z-index: 10;
}

.vui-SiteHeader {
  font-family: "Gilroy", "Avenir", "Century Gothic", -apple-system, "Helvetica Neue", "Segoe UI", "Roboto", sans-serif;
}

.vui-SiteHeading {
  width: 100%;
  height: auto;
  max-width: 438px;
  max-height: 61px;
}

.vui-SiteHeading-img {
  max-width: 100%;
  height: auto;
}

.vui-SiteHeader .Logo {
  margin-bottom: 1rem;
}

.vui-SiteHeader .u-align {
  padding-bottom: 0;
}

.vui-Jumplinks {
  flex-wrap: wrap;
  list-style: none;
  max-width: 100%;
  padding: 0;
  margin: 0;
}

.vui-Jumplinks-listItem {
  display: block;
  font-size: 1.25rem;
  line-height: 1.2;
  font-weight: 700;
  vertical-align: middle;
}

.vui-Jumplinks-link {
  display: block;
  padding: 0.5rem;
  color: #fff;
  border-bottom: none;
}

.vui-Jumplinks-link:hover {
  color: #1F6B9C;
}

@media only screen and (min-width: 20em) {
  .vui-Jumplinks {
    display: flex;
    justify-content: center;
  }
  .vui-Jumplinks-listItem {
    display: inline-flex;
  }
  .vui-Jumplinks-listItem:nth-last-child(n+2):after {
    content: '•';
    color: #1F6B9C;
    align-self: center;
  }
}

@media only screen and (min-width: 45em) {
  .vui-Jumplinks-link {
    padding: 0.5rem 0.25rem;
    margin-right: 1rem;
    margin-left: 1rem;
  }
}

/** Print **/

@media print {
  *, *:before, *:after, p:first-letter, div:first-letter, blockquote:first-letter, li:first-letter, p:first-line, div:first-line, blockquote:first-line, li:first-line {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a, a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /* Don't show links that are fragment identifiers, or use the `javascript:` pseudo protocol */
  a[href^="#"]:after, a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /* Printing Tables: http://css-discuss.incutio.com/wiki/Printing_Tables */
  thead {
    display: table-header-group;
  }
  tr, img {
    page-break-inside: avoid;
  }
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }
  h2, h3 {
    page-break-after: avoid;
  }
  /** Custom **/
  .vui-SiteHeader, .vui-Jumplinks {
    display: none;
  }
}
